@using CV_front.Models;
@inject data.CvHttpClient Cv
@page "/experiences"




@if (Loading)
{
    <div class="alert alert-info"> Chargement... </div>
}
else
{


    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Projets</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">



        
    






        @foreach (FullExperiences exp in FullExperiences)
        {
            <div class="col-lg-12">
                <blockquote class="generic-blockquote">
                    <div class="typography">
                        <h1>@exp.experiences.poste</h1>
                        <h3>@exp.experiences.societe</h3>
                        <h4>@exp.type</h4>
                        <h6>@exp.experiences.date @exp.experiences.duree</h6>
                        <h6>@exp.experiences.type @exp.experiences.site_web @exp.experiences.type_de_societe</h6>
                    </div>
                    <h3 class="mb-20">Contextes</h3>
                    <blockquote class="generic-blockquote">
                        @exp.experiences.context
                    </blockquote>
                    <h3 class="mb-20">Objectif</h3>
                    <blockquote class="generic-blockquote">
                        @exp.experiences.objectif
                    </blockquote>
                    <h3 class="mb-20">Taches</h3>
                    <div class="">
                        <ul class="unordered-list">
                            @foreach (TacheExperience taches in exp.taches)
                            {
                                <li>
                                    @taches.tache
                                </li>
                            }
                        </ul>
                    </div>
                    <h3 class="mb-20">Résultats</h3>
                    <blockquote class="generic-blockquote">
                        @exp.experiences.resultat
                    </blockquote>
                    <h3 class="mb-20">Compétences</h3>
                    <ul class="unordered-list">
                        @foreach (Competence comp in exp.competences)
                        {
                            <li>
                                @comp.name
                            </li>
                        }
                    </ul>
                </blockquote>
            </div>

            

    }
    </div>
}


@code {
    private bool Loading;
    private List<FullExperiences> FullExperiences = new List<FullExperiences>();

    protected override async Task OnInitializedAsync()
    {
        await LoadingExperiences();
        await base.OnInitializedAsync();
    }

    private async Task LoadingExperiences()
    {
        if (Loading)
        {
            return;
        }
        Loading = true;

        FullExperiences = await Cv.GetAllExperiencesAsync();
        Loading = false;
    }
}
